[Unit]
Description=Openframe WebUI Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=<user>
PIDFile=/run/ofwebapp.pid
Environment="DEBUG=express:*"
WorkingDirectory=<appdir>
ExecStart=/usr/bin/npm run dev

[Install]
WantedBy=multi-user.target
